<!--<style>
    .container-fluid {
		margin-top: 9px;
	}

    .blog-post {
        margin-top: 89px;
    }

    a {
		font-size: 17px;
		color: blue;
	}
</style>

<nav class="navbar navbar-expand-md fixed-top">
    <div class="container-fluid">
        <img class="logo" [src]="appLogo()" alt="" width="129" height="98">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <button type="button" class="btn btn-sm btn-outline-secondary" (click)="home()">home</button>                       
            </ul>
        </div>
    </div>
</nav>

<div *ngIf="director">   
    <div class="container">
        <header class="border-bottom lh-1 py-2">
          <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-10 text-center">
                <h1 class="blog-header-logo text-body-emphasis text-decoration-none">{{director.director}}</h1>
              </div>
          </div>
        </header>
    </div>

    <div class="container-fluid">
        <div class="row mb-4">
            <div class="col-md-4">
                <div class="row g-0 border rounded overflow-hidden">
                    <div class="col-auto d-none d-lg-block">
                        <img alt="" width="400" height="537" [src]="directorImage(director.id)"/>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <article class="blog-post">
                    <h4>Biography: </h4>
                    <br>
                    <p>{{director.biography}}</p>
                    <hr>
                </article>
            </div>
            <div class="col-md-4">
                <article class="blog-post">
                    <h4>Name: </h4>
                    <p>{{director.name}}</p>                   
                    <br>
                    <h4>Born: </h4>
                    <p>{{director.born}}</p>                   
                    <br>
                    <h4>Genres:</h4>
                    <div *ngFor="let genre of genres">
                        <p>{{genre}}</p>
                    </div>
                    <br>
                    <h4>Residence: </h4>
                    <p>{{director.residence}}</p>                   
                    <br>
                    <h4>Score: </h4>
                    <p>{{director.score}} /5.0</p>                   
                    <br>
                </article>
            </div>
        </div>          
    </div>
</div>-->
