<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8">
         <!-- Mobile specific meta-->
        <meta name=viewport content="width=device-width, initial-scale=1">
        <meta name="format-detection" content="telephone-no">

         <!--Google Font-->
        <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
       
        <!-- CSS files -->
        <link rel="stylesheet" href="/css/plugins.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <!-- end of footer section-->
        

        <!--preloading-->
<div id="preloader">
    <img class="logo" src="/images/logoMF.png" alt="" width="119" height="58">
    <div id="status">
        <span></span>
        <span></span>
    </div>
</div>
<!--end of preloading-->


<!-- BEGIN | Header -->
<header class="ht-header">
	<div class="container">
		<nav class="navbar navbar-default navbar-custom">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header logo">
				    <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					    <span class="sr-only">MovieFrame</span>
					    <div id="nav-icon1">
							<span></span>
							<span></span>
							<span></span>
						</div>
				    </div>
				    <img class="logo" src="/images/logoMF.png" alt="" width="80" height="58">
			    </div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav flex-child-menu menu-left">
						<li class="hidden">
							<a href="#page-top"></a>
						</li>
							<li class="dropdown first">
								<a class="btn btn-default dropdown-toggle lv1"s> Home </a>
							</li>
					
					</ul>
				</div>
			<!-- /.navbar-collapse -->
	    </nav>
	    
	    <!-- top search form -->
	    
	</div>
</header>
<!-- END | Header 
<li class="active"><a href="#">Home</a></li>-->
<div class="hero mv-single-hero"></div>

<div class="page-single movie-single movie_single">
	<div class="container">
		<div class="row ipad-width2">
			<div class="col-md-4 col-sm-12 col-xs-12" style="margin-top: 60px;">
				<img src="/movie/{{id}}/director/image" alt="">{{avatar}}</img>
			</div>
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="movie-single-ct main-content">
					
					<div class="movie-tabs">
						<div class="tabs">
							<ul class="tab-links tabs-mv">                      
							</ul>
						    <div class="tab-content">
						        <div id="overview" class="tab active">
						            <div class="row">
										
						            	<div class="col-md-8 col-sm-12 col-xs-12">
											<div class="title-hd-sm">
												<h4>{{director}}</h4>
											</div>
											<div class="sb-it">
												<h6>Biography: </h6>
												<p>{{biography}}</p>
											</div>
										</div>	
						            	<div class="col-md-4 col-xs-12 col-sm-12">
						            		<div class="sb-it">
						            			<h6>Name: </h6>
						            			<p>{{name}}</p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Born: </h6>
						            			<p>{{born}}</p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Genre:</h6>
												{{#genre}}
						            			<p>{{.}}</p>
												{{/genre}}
						            		</div>
						            		<div class="sb-it">
						            			<h6>Residence:</h6>
						            			<p>{{residence}}</p>
						            		</div>
											<div class="sb-it">
												<h6>Score:</h6>
												<p>{{score}} / 5.0</p>
											</div>
						            	</div>
						            </div>
						        </div>
						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- footer section-->
<footer class="ht-footer">
	<div class="container">
		<div class="flex-parent-ft">
			<div class="flex-child-ft item1">
				<p>Desarrollo de aplicaciones web<br></p>
				<p>Maria Amparo Alami <br> Cristobal Justo Rustarazo <br> Cassiel Seth Mayorca Heirisman <br>
				Javier García Seller <br> Shadith Perez Rivera </p>
			</div>		
		</div>
	</div>
	
</footer>
<!-- end of footer section-->
      
        <script src="/js/jquery.js"></script>
        <script src="/js/plugins.js"></script>
        <script src="/js/plugins2.js"></script>
        <script src="/js/custom.js"></script>

    </body>
</html>
