<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8">
         <!-- Mobile specific meta-->
        <meta name=viewport content="width=device-width, initial-scale=1">
        <meta name="format-detection" content="telephone-no">

         <!--Google Font-->
         <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
       
        <!-- CSS files -->
        <link rel="stylesheet" href="/css/plugins.css">
        <link rel="stylesheet" href="/css/style.css">

		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>

<body>
<!--preloading-->
<div id="preloader">
    <img class="logo" src="/images/logoMF.png" alt="" width="119" height="58">
    <div id="status">
        <span></span>
        <span></span>
    </div>
</div>
<!--end of preloading-->


<!-- BEGIN | Header -->
<header class="ht-header">
	<div class="container">
		<nav class="navbar navbar-default navbar-custom">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header logo">
				    <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					    <span class="sr-only">Toggle navigation</span>
					    <div id="nav-icon1">
							<span></span>
							<span></span>
							<span></span>
						</div>
				    </div>
				    <img class="logo" src="/images/logoMF.png" alt="" width="119" height="58">
			    </div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
					
					<ul class="nav navbar-nav flex-child-menu menu-right">
					{{#user}}<!--if already logged-->
					    <li class="btn btn-default dropdown-toggle lv1" id="show_user_reviews"><a href="/reviews/{user}">reviews</a></li>
						<!--if administrator logged-->
						<li class="btn btn-default dropdown-toggle lv1" id="show_reviews"><a href="/reviews/">reviews</a></li>
						<li class="btn btn-default dropdown-toggle lv1" id="send_recommendations"><a href="/reviews/">recommendations</a></li>
					{{/user}}
					{{^user}}<!--if didn´t log yet-->
						<li class="btn btn-default dropdown-toggle lv1"><a href="/log_in">log in</a></li>
						<li class="btn btn-default dropdown-toggle lv1"><a href="/sign_up">sign up</a></li>
					{{/user}}
					</ul>
				</div>
			<!-- /.navbar-collapse-->
	    </nav>	 
	</div>   
</header>
<!-- END | Header -->

<div class="slider movie-items">

	
	<div class="container" id="movie_item">
			<form action="/movies/{name}" method="post">
				<input class="movie_filter" type="text" placeholder="Enter a movie">
				<input class="submit" type="submit" value="search">
			</form>	
	 
		<div class="row">
			<div  class="slick-multiItemSlider" >
				{{#movieframe}}
				<div class="movie-item">
					
					<div class="mv-img">
						<img src="/movie/{{id}}/image" alt="" width="285" height="437">{{movie_img}}</img>
					</div>
					
					<div class="title-in">
						<div class="cate">
							<span class="blue">{{gender}}</span>
						</div>
					</div>
					<h6><a href="/movie/{{id}}">{{title}}</a></h6>
					<p><i class="ion-android-star"></i><span>{{movie_votes}}</span> /5</p>
					
				</div>
				{{/movieframe}}
			</div>
		</div>
	</div>
	
</div>


<!--end of latest new v1 section-->
<style>
	.graph-lightbox {
		display: block;
		margin: 20px auto;
	}
</style>
            <div id="plotlyChart" width="400" height="150"></div>
		

<!--BEGIN | Header -->

<!-- footer section-->
<footer class="ht-footer">
	<div class="container">
		<div class="flex-parent-ft">
			<div class="flex-child-ft item1">
				<p>Desarrollo de aplicaciones web<br></p>
				<p>Maria Amparo Alami <br> Cristobal Justo Rustarazo <br> Cassiel Seth Mayorca Heirisman <br>
				Javier García Seller <br> Shadith Perez Rivera </p>
			</div>		
		</div>
	</div>
	
</footer>
<!-- end of footer section-->

		
        <script src="/js/jquery.js"></script>
        <script src="/js/plugins.js"></script>
        <script src="/js/plugins2.js"></script>
        <script src="/js/custom.js"></script>
</body>



<script>

$(document).ready(function () {

	function loadMovies(){
		$.ajax({
			url: 'https://localhost:8443/movies',
		}).done(data => {
			//JSON.stringify(data);
			console.log(data);
			responseMovies(data);
		})
		.catch(function(err){
			console.log("Error :-S",err);
		});
	}


    function responseMovies (movies) {
        //const ctx = document.getElementById('myChart');

        //charge just 4 films from server
		titles = [];
        for(var i=0; i<movies.length; i++){
			//console.log(movies[i]);
            titles.push(movies[i].title);
        }

		reviews =[];
		for(var i=0; i<movies.length; i++){
			//console.log(movies[i].reviews.length);
            reviews.push(movies[i].reviews.length);
        }
    
		var data = [
        {
          x: titles,
          y: reviews,
          type: 'bar'
        }
      ];

      Plotly.newPlot('plotlyChart', data);
    }

	loadMovies();

	});
</script>
</html>