<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8">
         <!-- Mobile specific meta-->
        <meta name=viewport content="width=device-width, initial-scale=1">
        <meta name="format-detection" content="telephone-no">

         <!--Google Font-->
         <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
       
        <!-- CSS files -->
        <link rel="stylesheet" href="/css/plugins.css">
        <link rel="stylesheet" href="/css/style.css">

		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>

<body>

<div id="preloader">
	<img class="logo" src="/images/logoMF.png" alt="" width="119" height="58">
	<div id="status">
		<span></span>
		<span></span>
	</div>
</div>

<!-- BEGIN | Header -->
<header class="ht-header">
	<div class="container">
		<nav class="navbar navbar-default navbar-custom">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">MovieFrame</span>
					<div id="nav-icon1">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
				<img class="logo" src="/images/logoMF.png" alt="" width="80" height="58">
				<!-- Collect the nav links, forms, and other content for toggling -->
				
				<div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav flex-child-menu menu-right">
						{{#logged}}
						<!--if user logged-->
						{{#user}}
						
							<li class="btn btn-default dropdown-toggle lv1"><button onclick="location.href='/user/{{userName}}'">my profile</button></li>
					    	<li class="btn btn-default dropdown-toggle lv1" id="show_user_reviews"><button onclick="location.href='/review/user/{{userName}}'">reviews</button></li>
							<li class="btn btn-default dropdown-toggle lv1">
								<form action="/logout" method="post">
									<input type="hidden" name="_csrf" value="{{token}}" />
									<button class="btn btn-default navbar-btn" type="submit">log out</button>						
								</form>
							</li>
						{{/user}}
						<!--if administrator logged-->
						{{#admin}}
							<li class="btn btn-default dropdown-toggle lv1" id="show_reviews"><button onclick="location.href='/review'">reviews</button></li>							
							<li class="btn btn-default dropdown-toggle lv1"><button onclick="location.href='/movie'">new movie</button></li>
							<li class="btn btn-default dropdown-toggle lv1">
								<form action="/logout" method="post">
									<input type="hidden" name="_csrf" value="{{token}}" />
									<button class="btn btn-default navbar-btn" type="submit">log out</button>
								</form>
							</li>
						{{/admin}}				                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   
						{{/logged}}				
						{{^logged}}
						<!--if didn´t log yet-->
							<li class="btn btn-default dropdown-toggle lv1"><button onclick="location.href='/login'">log in</button></li>	
							<li class="btn btn-default dropdown-toggle lv1"><button onclick="location.href='/signup'">sign up</button></li>
							<li class="btn btn-default dropdown-toggle lv1" id="show_reviews"><button onclick="location.href='/review'">reviews</button></li>	
						{{/logged}}
					</ul>
				</div>	
			<!-- /.navbar-collapse-->
	    </nav>	 
	</div>   
</header>
<!-- END | Header -->

<div class="slider movie-items">

	
	<div class="container" id="movie_item">

		<form action="/movie/name" method="post">
			<input name="name" class="movie_filter" type="text" placeholder="Enter a movie"/>		
			<input class="submit" type="submit" value="search"/>
			<input type="hidden" name="_csrf" value="{{token}}" />
		</form>	

		<div class="row">
			{{#movieframe}}
			<div class="flex-wrap-movielist mv-grid-fw">
				<div class="movie-item-style-2 movie-item-style-1">
					
					<div class="mv-img">
						<img src="/movies/{{id}}/image" alt="" width="285" height="437">{{movie_img}}</img>
					</div>
					
					<div class="title-in">
						<div class="cate">
							<span class="blue">{{category}}</span>
						</div>
					</div>
					{{#logged}}<h6><a href="/movie/{{id}}">{{title}}</a></h6>{{/logged}}{{^logged}}<h6>{{title}}</h6>{{/logged}}
					<p><i class="ion-android-star"></i><span>{{movie_votes}}</span> /5</p>
					
				</div>
			</div>
			{{/movieframe}}
		</div>

		<div class="topbar-filter fw">
			<p id="total-mv"></p>
		</div>
	 
		<div class="row">
			<div class="flex-wrap-movielist mv-grid-fw" id="movieList">

				<!-- mv item -->
			
				
			</div>
		</div>
	</div>
	
</div>

<div class="page-single">
	<div class="container">
		<div class="row">
			<div class="col-md-9 col-sm-12 col-xs-12">
				<div class="blog-detail-ct">
					
					<!-- comment items -->
					<div id="comments"></div>
				</div>
				<ul class="pagination">               
					<li ><button>more results</button></li>
				</ul>
			</div>
			
		</div>
	</div>
</div>

<div id="spinner-div" class="pt-5">
	<div class="spinner-border text-primary" role="status">
	</div>
</div>

<!--end of latest new v1 section-->
<style>
	.graph-lightbox {
		display: block;
		margin: 20px auto;
	}
</style>
            <div id="plotlyChart" width="400" height="150"></div>
		

<!--BEGIN | Header -->

<!-- footer section-->
<footer class="ht-footer">
	<div class="container">
		<div class="flex-parent-ft">
			<div class="flex-child-ft item1">
				<p>Desarrollo de aplicaciones web<br></p>
				<p>Maria Amparo Alami</p>
			</div>		
		</div>
	</div>
	
</footer>
<!-- end of footer section-->

		
        <script src="/js/jquery.js"></script>
        <script src="/js/plugins.js"></script>
        <script src="/js/plugins2.js"></script>
        <script src="/js/custom.js"></script>
</body>



<script>

var tam = 10;
//console.log(tam);

let ruta='https://10.100.139.187:8443/movies?size=' + tam;

function loadInitMovies(callback,tam) {
	$.ajax({
		url: ruta
	}).done(function (movies) {
		console.log('reviews loaded: ' + JSON.stringify(movies));
		console.log(movies.content);
		console.log(movies.size);
		callback(movies);
	})
}

//Show review in page
function showMovieLoaded(movie) {

	$('#movieList').append(
		'<div class="movie-item-style-2 movie-item-style-1"><div class="mv-img"><img src="/movies/' + movie.id + '/image" alt="" width="285" height="437">' + movie.movie_img + 
		'</img></div><div class="title-in"><div class="cate"><span class="blue">' + movie.category + '</span></div></div>{{#logged}}<h6><a href="/movie/' + movie.id + 
		'">' + movie.title + '</a></h6>{{/logged}}{{^logged}}<h6>' + movie.title + '</h6>{{/logged}}<p><i class="ion-android-star"></i><span>' + movie.votes + '</span> /5</p></div>'
	)
}


$(document).ready(function () {



	loadInitMovies(function(movies,tam) {
			//When reviews are loaded from server
			$('#total-mv').append('Found <span>' + movies.totalElements + 'movies</span> in total')
			if(movies.size != 0){
				for (var i = 0; i < movies.size; i++) {
					showMovieLoaded(movies.content[i]);
				}
			}
		});

	var info2 = $('.pagination');	
	
	info2.click(function () {
		tam+=10;

		let ruta='https://10.100.139.187:8443/movies?size=' + tam;
		console.log(ruta);
		$("#spinner-div").show();
		$.ajax({
			url: ruta
		}).done(function (movies) {
			$("#spinner-div").hide();
			console.log('reviews loaded: ' + JSON.stringify(movies));
			console.log(movies.content);
			console.log(movies.size);
			if(movies.size != 0 && tam-10 < movies.content.length){
				for (var i = tam-10; i < movies.content.length; i++) {
					showMovieLoaded(movies.content[i]);
				}
			}
			
		})
		
	})

	var info3 = $('.submit');	
	
	info3.click(function () {
		tam=10

		let ruta='https://10.100.139.187:8443/movies/name?size=' + tam;
		console.log(ruta);
		$("#spinner-div").show();
		$.ajax({
			url: ruta
		}).done(function (movies) {
			$("#spinner-div").hide();
			console.log('reviews loaded: ' + JSON.stringify(movies));
			console.log(movies.content);
			console.log(movies.size);
			if(movies.size != 0 && tam-10 < movies.content.length){
				for (var i = tam-10; i < movies.content.length; i++) {
					showMovieLoaded(movies.content[i]);
				}
			}
			
		})
		
	})

	function loadMovies(){
		$.ajax({
			url: 'https://10.100.139.187:8443/movies?size=' + tam,
		}).done(data => {
			//JSON.stringify(data);
			console.log(data);
			responseMovies(data.content);
		})
		.catch(function(err){
			console.log("Error :-S",err);
		});
	}


    function responseMovies (movies) {
        //const ctx = document.getElementById('myChart');

        //charge just 4 films from server
		titles = [];
        for(var i=0; i<movies.length; i++){
			//console.log(movies[i]);
            titles.push(movies[i].title);
        }

		reviews =[];
		for(var i=0; i<movies.length; i++){
			//console.log(movies[i].reviews.length);
            reviews.push(movies[i].reviews.length);
        }
    
		var data = [
        {
          x: titles,
          y: reviews,
          type: 'bar'
        }
      ];

      Plotly.newPlot('plotlyChart', data);
    }

	loadMovies();

	});
</script>
</html>