<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8">
         <!-- Mobile specific meta-->
        <meta name=viewport content="width=device-width, initial-scale=1">
        <meta name="format-detection" content="telephone-no">

         <!--Google Font-->
        <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
       
        <!-- CSS files -->
        <link rel="stylesheet" href="/css/plugins.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <!-- end of footer section-->
        

        <!--preloading-->
<div id="preloader">
    <img class="logo" src="/images/logoMF.png" alt="" width="119" height="58">
    <div id="status">
        <span></span>
        <span></span>
    </div>
</div>

<!-- BEGIN | Header -->
<header class="ht-header">
	<div class="container">
		<nav class="navbar navbar-default navbar-custom">
				<!-- Brand and toggle get grouped for better mobile display -->
				<!--<div class="navbar-header logo">-->
				    <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					    <span class="sr-only">MovieFrame</span>
					    <div id="nav-icon1">
							<span></span>
							<span></span>
							<span></span>
						</div>
				    </div>
				    <img class="logo" src="/images/logoMF.png" alt="" width="80" height="58">
			    <!--</div>-->
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav flex-child-menu menu-left">
						<!--<li class="hidden">
							<a href="#page-top"></a>
						</li>-->
		
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1s" href="/"> Home </a>
						</li>
					
					</ul>
				</div>
			<!-- /.navbar-collapse -->
	    </nav>
	    
	    <!-- top search form -->
	    
	</div>
</header>
<!-- END | Header
<li class="active"><a href="/">Home</a></li>-->
<div class="hero mv-single-hero"></div>

<div class="page-single movie-single movie_single">
	<div class="container" action="getMovie" method="get">
		<div class="row ipad-width2">
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="movie-img sticky-sb">
					<img src="/movie/{{id}}/image"/>{{picture}}</img>
				</div>
			</div>
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="movie-single-ct main-content">
					<h1 class="bd-hd" id="value_title">{{title}}</h1>
					
					<div class="movie-tabs">
						<div class="tabs">
							<ul class="tab-links tabs-mv">                      
							</ul>
						    <div class="tab-content">
						        <div id="overview" class="tab active">
						            <div class="row">
						            	<div class="col-md-8 col-sm-12 col-xs-12">
						            		<p>{{description}}</p>
						            		
                                            <!-- movie user review -->
                                            <div class="mv-user-review-item">
                                                 
                                                <form action="/movie/{{id}}/review/new" method="post">
                                                    <p class="clasificacion">
														<input id="radio1" type="radio" name="rating" value="5">
														<label for="radio1">★</label>
														<input id="radio2" type="radio" name="rating" value="4">
														<label for="radio2">★</label>
														<input id="radio3" type="radio" name="rating" value="3">
														<label for="radio3">★</label>
														<input id="radio4" type="radio" name="rating" value="2">
														<label for="radio4">★</label>
														<input id="radio5" type="radio" name="rating" value="1">
														<label for="radio5">★</label>
														<input id="radio0" type="radio" name="rating" value="0">
                                                    </p>
                                                    <label class=reset for=radio0>reset</label>
                                                    <div id=texto>no calification</div>
                            
													<div>
														<textarea name="coments" rows="5" cols="40" placeholder="Review description..." id="value_description"></textarea>
														
													</div>
													<div class="title-hd-sm">
														<input type='submit' value='write review' class="redbtn" id="write_review" onclick="loadMovie();"><i class="ion-ios-arrow-right"></i></input>
													</div>
												</form>

												<h3>Last review</h3>

												<div class="no-star"></div>
												<div class="coment"></div>
											</div>	
						            	</div>
									
									
						            	<div class="col-md-4 col-xs-12 col-sm-12">
						            		
											<div class="sb-it">
						            			<h6>Directors: </h6>
												{{#directors}}
						            			<p><a href="/movie/{{id}}/director">{{director}}</a></p>
												{{/directors}}
						            		</div>
						            		<div class="sb-it">
						            			<h6>Genres:</h6>
						            			<p>{{gender}}</p>
						            		</div>            		
						            	</div>
						            </div>
                                    
						        </div>
						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- footer section-->
<footer class="ht-footer">
	<div class="container">
		<div class="flex-parent-ft">
			<div class="flex-child-ft item1">
				<p>Desarrollo de aplicaciones web<br></p>
				<p>Maria Amparo Alami <br> Cristobal Justo Rustarazo <br> Cassiel Seth Mayorca Heirisman <br>
				Javier García Seller <br> Shadith Perez Rivera </p>
			</div>		
		</div>
	</div>
	
</footer>
<!-- end of footer section-->
      
        <script src="/js/jquery.js"></script>
        <script src="/js/plugins.js"></script>
        <script src="/js/plugins2.js"></script>
        <script src="/js/custom.js"></script>

    </body>

	<script>

		$(document).ready(function () {
		//show me the last review
			function loadMovie(){
				$.ajax({
					url: 'https://localhost:8443/movies/{{id}}',
				}).done(function(data){
					console.log(data);
					//console.log(data.reviews);
					//console.log(data.reviews[data.reviews.length-1].rating);
					for (var i = 0; i < data.reviews[data.reviews.length-1].rating; i++) {
						showRating();
					}
					$('.coment').append(data.reviews[data.reviews.length-1].coments);
					
				})
				.catch(function(err){
					console.log("Error :-S",err);
				});
			}

			//Show rating in page
			
				function showRating(){
					$('.no-star').append(
						'<i class="ion-android-star"></i>'
					)
				}

			loadMovie();
		
		});
	</script>
</html>
