<!--<div class="page-single">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				
				<form action="/recommendation/new" method="post">
					<div>
						<input type="text" name="movie_title" rows="5" cols="2" placeholder="Movie title..." id="value_title"/>
					</div>
					<div>
						<textarea name="movie_description" rows="5" cols="10" placeholder="Movie description..." id="value_description"></textarea>
					</div>
					
					<div class="col-md-12 ">

						<input id="sending" type="submit" value="send email"/>
					</div>
				</form>
				<form action="/upload_image" method="post" enctype="multipart/form-data">
					<p>Image name: </p>
					<input type='text' name='imageName'/>
					<p>Image file:</p><input type='file' name='image1' accept=".jpg, .jpeg" id="value_image"/>
				</form>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <form class="form-style-1">
                        <div class="row">
                           
                        </div>
                    </form>
                </div>
			</div>
		</div>
	</div>
</div>-->