<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        
         <!-- Mobile specific meta-->
        <meta name=viewport content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="format-detection" content="telephone-no">

         <!--Google Font-->
        <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
       
        <!-- CSS files -->
        <link rel="stylesheet" href="/css/plugins.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
<body>

<!--preloading-->
<div id="preloader">
    <img class="logo" src="/images/logoMF.png" alt="" width="119" height="58">
    <div id="status">
        <span></span>
        <span></span>
    </div>
</div>
<!--end of preloading-->

<!-- BEGIN | Header -->
<header class="ht-header">
	<div class="container">
		<nav class="navbar navbar-default navbar-custom">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header logo">
				    <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					    <span class="sr-only">Toggle navigation</span>
					    <div id="nav-icon1">
							<span></span>
							<span></span>
							<span></span>
						</div>
				    </div>
				    <img class="logo" src="/images/logoMF.png" alt="" width="119" height="58">
			    </div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav flex-child-menu menu-right">              
						<li class="btn btn-default dropdown-toggle lv1"><a href="/">Home</a></li>
					</ul>
				</div>
			<!-- /.navbar-collapse -->
	    </nav>	    
	</div>
</header>
<!-- END | Header -->

<div class="hero common-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1>Review edition page</h1>                  
				</div>
			</div>           
		</div>
	</div>
</div>

<div class="page-single">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				
				<form action="/user/reviews/edition/{{id}}" method="put">
					<p class="clasificacion">
                        <input id="radio1" type="radio" name="rating" value="5">
                        <label for="radio1">★</label>
                        <input id="radio2" type="radio" name="rating" value="4">
                        <label for="radio2">★</label>
                        <input id="radio3" type="radio" name="rating" value="3">
                        <label for="radio3">★</label>
                        <input id="radio4" type="radio" name="rating" value="2">
                        <label for="radio4">★</label>
                        <input id="radio5" type="radio" name="rating" value="1">
                        <label for="radio5">★</label>
                        <input id="radio0" type="radio" name="rating" value="0">
                    </p>
                    <label class=reset for=radio0>reset</label>
                    <div id=texto>no calification</div>

                    <div>
                        <textarea name="coments" rows="5" cols="40" placeholder="Review description..." id="value_description"></textarea>
                        
                    </div>
                    <div class="title-hd-sm">
                        <input type='submit' value='write_review' class="redbtn" id="write_review"><i class="ion-ios-arrow-right"></i></input>
                    </div>				
				</form>
				<p>{{state}}</p>
			</div>
		</div>
	</div>
</div>

<!-- footer section-->
<footer class="ht-footer">
	<div class="container">
		<div class="flex-parent-ft">
			<div class="flex-child-ft item1">
				<p>Desarrollo de aplicaciones web<br></p>
				<p>Maria Amparo Alami <br> Cristobal Justo Rustarazo <br> Cassiel Seth Mayorca Heirisman <br>
				Javier García Seller <br> Shadith Perez Rivera </p>
			</div>		
		</div>
	</div>	
</footer>
<!-- end of footer section-->

    <script src="/js/jquery.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/plugins2.js"></script>
    <script src="/js/custom.js"></script>

</body>

</html>